.button
{
    animation: changeColor 3s linear infinite;
}
@keyframes changeColor
{
    0%
    {
        filter: hue-rotate(0deg);
    }
    100%
    {
        filter: hue-rotate(360deg);
    }
}
h3
{
   font-size: 30px !important; 
}
 canvas {
     animation-name: example;
     animation-duration: 3s;
     animation-iteration-count: infinite;
 }
 
 @keyframes example
 {
from {box-shadow: 1px 1px 5rem red;}
to{box-shadow: 1px 1px 5rem yellow;}
 }